<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php54" path="*.php" verb="GET,HEAD,POST,DEBUG" modules="FastCgiModule" scriptProcessor="c:\php54\php-cgi.exe" resourceType="Either" />
            <add name="php-5.3.28" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php53\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-7.1.22" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php71\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-5.6.26" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php56\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-5.5.38" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php55\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
